body{
    background: linear-gradient(rgb(217, 138, 74), white);
}
*{
    font-family: "Poppins", sans-serif;
}
.wraptittle{
    background-color: rgb(230, 169, 120);
    width: 80%;
    height: 100px;
    align-content: center;
    text-align: center;
    color: white;
    border-radius: 20px;
}
.card{
    text-decoration: none;
}
.bottomimg{
    margin-top: -400px;
}
.wrapdropdown{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button{
    background-color: rgb(236, 184, 141);
}
.backbutton{
    background-color: rgb(35, 67, 98);
    height: 50px;
    width: 500px;
    border-radius: 20px;
    padding-block: 10px;
}
@media (max-width: 767px) {
    .bottomimg{
        margin-top: -300px;
    }
}

@media (max-width: 543px) {
    .bottomimg{
        margin-top: -150px;
    }
}